
body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d6e8b5;
    font-family: Arial, Helvetica, sans-serif;
}


.product-card {
    width: 300px;
    padding: 25px;

    background-color: white;

    border: 2px solid #c1d460;
    border-radius: 15px;

    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);

    text-align: center;
}


.product-image {
    width: 200px;
    height: 200px;

    object-fit: cover;

    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}


.product-card h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, serif;
}



.product-card h3 {
    color: #555;
}



.product-card p {
    color: #666;
    font-size: 16px;
    font-family: Arial, sans-serif;
}


.product-card button {
    padding: 10px 25px;

    border: none;
    border-radius: 8px;

    background-color: #6d7d48;
    color: white;

    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}



.product-card button:hover {
    background-color: #b6cb85;
    transform: scale(1.05);
}